.navbar {
  height: 55px;
  padding: 0 10px 0 10px;
  flex-direction: row;
  align-items: center;
  cursor: default;
  user-select: none;
  background: #272727;

  .logoArea {
    float: left;
    display: flex;
    height: 55px;
    line-height: 55px;

    .backgroundBanner {
      width: 70px;
      text-align: center;

      .title {
        white-space: nowrap;
        transition: all .15s linear;
        color: #e3e3e3;

        &:hover {
          color: #8bc34a;
        }
      }
    }
  }

  .showGameBtn {
    float: right;
    line-height: 55px;
  }
}

.ant-input-affix-wrapper,.ant-input{
  border-color: #4a4a4a;
}
