@import '~antd/dist/antd.less';

.mainArea{
  display: flex;
  flex: 1 0;
  position: relative;
  margin: 0 20px 0 20px;
  overflow: hidden;

  div{
    background-color: #272727;
    border-radius: 2px;
  }

  .mainLeft{
    position: relative;
    display: flex;
    flex: 1;
    min-width: 400px;
  }
  .mainCenter{
    position: relative;
    display: flex;
    flex: 4;
    margin-left: 20px;
    min-width: 485px;
  }
  .mainRight{
    position: relative;
    display: flex;
    flex: 1;
    margin-left: 20px;
    min-width: 325px;
  }
}


.ant-select-item-option-selected{
  background-color: #3a3a3a !important;
}

.ant-select-item-option-active{
  background-color: #3a3a3a !important;
}
